/* GOOGLE FOTS IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*CSS VARIABLES*/
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3A2620;
    /*dark brown*/
    --secondary-color: #AA9581;
    /*light brown*/
    --highlight-color: #416A8E;
    /*blue*/
    --light-highlight-color: #7A9FC2;
    /*light blue*/

}

/*GLOBAL STYLES*/
body {
    font-family: var(--primary-font);
    padding-top: 57.15PX;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*NAVBAR*/
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* BUTTON STYLING FOR NAV AND FORM*/
.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custon-button-outline {
    border: 2px solid var(--highlight-color);
    background-color: transparent;
    color: var(--highlight-color);
    padding: 7px 25px;
}

.custon-button-outline:hover {
    background-color: var(--highlight-color);
    color: white;
}

/* HEADER */

#header .lead {
    font-family: var(--secondary-font);
}

/* SERVICES */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* GAMES */
#new-games-section .card { /* make card borders transparent*/
    border: transparent;
}

#fav-games-section .card { /* make card borders transparent*/
    border: transparent;
}

/* FOOTER / CONTACT */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--light-highlight-color);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--light-highlight-color);
    font-size: 1.9rem;
    transition: 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

/*EVENTS SECTION*/
.student-discount {
    background-color: var(--highlight-color);
    font-weight: bold;
    color: white;
    display: block;
    max-width: 300px;
    margin: auto;
    padding: 5px 10px;
    font-size: 0.8rem;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* -- MEDIUM DEVICES (tablets and up -- ≥768px) */
@media screen and (min-width: 768px){
    /* MAKE ALL THE services CARDS THE SAME HEIGHT */
    #services .card-body {
        min-height: 191px;
    }
}

/* -- LARGE DEVICES (laptops and up -- ≥992px) */
@media screen and (min-width: 992px){
    /* MAKE ALL THE services CARDS THE SAME HEIGHT */
    #services .card-body {
        min-height: auto;
    }
}

/* -- X-LARGE DEVICES (≥1200px) */
@media screen and (min-width: 1200px){
    /* MAKE ALL THE services CARDS THE SAME HEIGHT */
    #services .card-body {
        min-height: 220px;
    }
}

/* -- XX-LARGE DEVICES (laptops and up -- ≥1400px) */
@media screen and (min-width: 1400px){
    /* MAKE ALL CARDS THE SAME HEIGHT */
    #services .card-body {
        min-height: 195px;
    }
}